<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="stylesheet" href="css/detalles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9a2e49d3ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="img/logo.png" alt="logo"></a>
            <form action="#">
                <input type="text" name="search" id="search" placeholder="Buscar Producto">
                <button type="submit"><i class="fa-solid fa-search"></i></button>
            </form>
            <ul class="desktop">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="/register">Crear Cuenta</a></li>
                <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <ul>
                <li><a href="#" id="search-button"><i class="fa-solid fa-search"></i></a></li>
                <li><a href="#" id="toggle-burger"><i class="fa-solid fa-bars"></i></a href="#"></li>
                <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div id="burger-menu">
            <ul class="burger">
                <li><a href="#">Productos</a></li>
                <li><a href="/login">Crear cuenta</a></li>
                <li><a href="/register">Iniciar sesión</a></li>
            </ul>
        </div>
    </header>
    <main>
       <section class="main-section">
           <div class="contenedor">
               <div class="detail-left">
                <div class="tittleDesk">
                    
                    <h2>MICROPROCESADOR AMD RYZEN 5600G 4.4 GHZ AM4</h2>
                    <p>MODELO: 100-100000252BOX | GTIN: 730143313414</p>
                    
                </div>
                
                     <div class="img-container">
                         <img src="img/Productos/cpu ryzen.jpg" alt="">
                     </div>
               </div>
                    <div class="product-specification">
                        <div class="product-tittle">
                            <h2>MICROPROCESADOR AMD RYZEN 5600G 4.4 GHZ AM4</h2>
                             <P>MODELO: 100-100000252BOX | GTIN: 730143313414</P>
                        </div>
                    <div class="price-product">
                        <div class="precioEspecial">

                            <div class="descuento">
                                <h2>$ 37389</h2>
                                <p><s>$ 43629</s></p>
                                <strong>15% OFF</strong>
                            </div>
                        <div class="precioNinetech">
                            <p><i class="fa-solid fa-hand-holding-dollar"></i>  Precio especial Ninetech</p>
                        </div>


                        </div>
                    

                        <div class="payMP">
                            <p>Paga con Mercado Pago</p>
                            <img src="img/logoMP.png" alt="">
                            <input class="button" type="button" value="CALCULAR CUOTAS" name="">
                        </div>

                    

                        <div class="precioLista">
                            <p class="precioli"><i class="fa-solid fa-square-check"></i>  Precio de lista <strong>$48606</strong></p>
                            <strong>12 cuotas sin interes de $4050.50</strong>
                            <img src="img/ahora12.png" alt="">
                        </div>

                        <div class="cantidad-button">
                            <div class="buttonBuy">
                                <select class="seleccionador" name="" id=""> 
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                                <input type="button" value="COMPRAR" class="buttonB"></div>
                        </div>

                        

                    </div>
                </div>
       </section>
            </div>
            <hr>

       <section class="descriptionSection">
            <div class="descriptionSectionDetails">
                <h2>Descripción</h2>
                <div class="detailsTittle">
                    <p>*Chequear compatibilidad con motherboards antes de adquirir*</p>
                    <br>
                    <h2>Especificaciones:</h2>
                </div>
                <div class="details">
                    <span># de núcleos de CPU 6</span>
                    <span># de los hilos 12</span>
                    <span># de núcleos de GPU 7</span>
                    <span>Reloj base 3,9 GHz</span>
                    <span>Reloj de impulso máximo Hasta 4,4 GHz</span>
                    <span>Caché L2 total 3 MB</span>
                    <span>Caché L3 total 16 MB</span>
                    <span>Desbloqueado  sí</span>
                    <span>CMOS TSMC 7nm FinFET</span>
                    <span>Paquete AM4</span>
                    <span>Versión PCI Express® PCIe® 3.0</span>
                    <span>Solución térmica (PIB) Wraith Stealth</span>
                    <span>TDP / TDP predeterminado 65W</span>
                    <span>cTDP 45-65W</span>
                    <span>Temperaturas máximas 95 ° C</span>
                    <br>
                </div>
                <hr>
            </div>
            <div class="descriptionSectionCompatibility">
                <div class="CompatibilityTittle"><h2>Compatibilidad</h2><br></div>
                <span>AMD: AM4</span>
            </div>
        </section>
        <hr>
       <section class="similarProducts">
            <h2>PRODUCTOS SIMILARES</h2>
            <div class="productListing">
                <article class="similarProd">
                    <div class="simProdImg"><img src="img/Productos/fuente cooler master.jpg" width="200px" alt="FUENTE COOLER MASTER 850W"></div>
                    <div class="details">
                        <h3 class="productSimDetail">$ 36289</h3>
                        <p>FUENTE COOLER MASTER 850W V2 80+ GOLD FULL MODULAR</p>
                        <a href="#">Ver mas</a>
                    </div>
                </article>
                <article class="similarProd">
                    <div class="simProdImg"><img src="img/Productos/gtx 1660.jpg"  alt="EVGA GTX 1660"></div>
                    <div class="details">
                        <h3 class="productSimDetail">$ 36289</h3>
                        <p>PLACA DE VIDEO EVGA GTX 1660 SUPER SC ULTRA 6GB</p>
                        <a href="#">Ver mas</a>
                    </div>
                </article>
                <article class="similarProd">
                    <div class="simProdImg"><img src="img/Productos/disco hdd.jpg"  alt="DISCO DURO HDD 1 TB"></div>
                    <div class="details">
                        <h3 class="productSimDetail">$ 36289</h3>
                        <p>DISCO DURO HDD 1 TB WESTERN DIGITAL WD BLUE</p>
                        <a href="#">Ver mas</a>
                    </div>
                </article>
                <article class="similarProd">
                    <div class="simProdImg"><img src="img/Productos/disco ssd.jpg"  alt="DISCO SOLIDO SSD 240GB"></div>
                    <div class="details">
                        <h3 class="productSimDetail">$ 36289</h3>
                        <p>DISCO SOLIDO SSD 240GB KINGSTON A400 SATA III</p>
                        <a href="#">Ver mas</a>
                    </div>
                </article>
                
                
            </div>
       </section>




    </main>
    <footer>
        <figure>
            <a href="/"><img src="img/logo.png" alt="logo"></a>
        </figure>
        <section class="links">
            <article>
                <ul class="site-links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </article>
            <article>
                <ul class="redes">
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </article>
        </section>
    </footer>
    <script src="js/burger.js"></script>
</body>
</html>