<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninetech - Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9a2e49d3ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="img/logo.png" alt="logo"></a>
            <form action="#">
                <input type="text" name="search" id="search" placeholder="Buscar Producto">
                <button type="submit"><i class="fa-solid fa-search"></i></button>
            </form>
            <ul class="desktop">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="/register">Crear Cuenta</a></li>
                <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <ul>
                <li><a href="#" id="search-button"><i class="fa-solid fa-search"></i></a></li>
                <li><a href="#" id="toggle-burger"><i class="fa-solid fa-bars"></i></a href="#"></li>
                <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div id="burger-menu">
            <ul class="burger">
                <li><a href="#">Productos</a></li>
                <li><a href="/login">Crear cuenta</a></li>
                <li><a href="/register">Iniciar sesión</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="main-product">
            <img class="img-desktop" src="img/teclado.jpg" alt="teclado">
            <img class="img-mobile" src="img/teclado2.jpg" alt="teclado">
            <div>
                <h3>HyperX AlloyFPS</h3>
                <p>Compacto e ideal para juegos FPS en cualquier sitio</p>
                <a href="/detalles">Ver mas <i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </section>
        <h2 class="divisor">CATEGORIAS</h2>
        <section class="categories">
            <article class="main-category">
                <a href="#">
                    <img src="/img/Categorias/arma tu pc.jpg" alt="arma tu pc">
                </a>
            </article>
            <article class="sub-categories">
                <a href="#">
                    <img src="/img/Categorias/teclados.jpg" alt="mouse y teclados">
                </a>
                <a href="#">
                    <img src="/img/Categorias/audio.jpg" alt="audio y video">
                </a>
                <a href="#">
                    <img src="/img/Categorias/hardware.jpg" alt="hardware">
                </a>
            </article>
        </section>
        <h2 class="divisor">OFERTAS</h2>
        <section class="products">
            <article>
                <div class="details">
                    <h4>DISCO DURO HDD 1 TB WESTERN DIGITAL WD BLUE</h4>
                    <p>$6000 <span>$6600</span></p>
                    <a href="/detalles">Comprar</a>
                </div>
                <img src="img/Productos/disco hdd.jpg" alt="DISCO DURO HDD 1TB">
            </article>
            <article>
                <div class="details">
                    <h4>DISCO SOLIDO SSD 240GB KINGSTON A400 SATA III</h4>
                    <p>$4500 <span>$5550</span></p>
                    <a href="/detalles">Comprar</a>
                </div>
                <img src="img/Productos/disco ssd.jpg" alt="DISCO SOLIDO SDD 240GB">
            </article>
            <article>
                <div class="details">
                    <h4>PLACA DE VIDEO EVGA GTX 1660 SUPER SC ULTRA 6GB</h4>
                    <p>$55000 <span>$62000</span></p>
                    <a href="/detalles">Comprar</a>
                </div>
                <img src="img/Productos/gtx 1660.jpg" alt="GTX 1660 SUPER">
            </article>
        </section>
        <h2 class="divisor">PRODUCTOS DESTACADOS</h2>
        <section class="products">
            <article>
                <div class="details">
                    <h4>MICROPROCESADOR AMD RYZEN 5600G 4.4 GHZ AM4</h4>
                    <p>$23500</p>
                    <a href="/detalles">Comprar</a>
                </div>
                <img src="img/Productos/cpu ryzen.jpg" alt="RYZEN 5600G">
            </article>
            <article>
                <div class="details">
                    <h4>MOUSE COOLER MASTER MM711 BLANCO MATTE RGB</h4>
                    <p>$7500</p>
                    <a href="/detalles">Comprar</a>
                </div>
                <img src="img/Productos/mouse cooler master.jpg" alt="COOLER MASTER MM711">
            </article>
            <article>
                <div class="details">
                    <h4>AURICULAR HYPERX CLOUD II RED BLACK</h4>
                    <p>$19500</p>
                    <a href="/detalles">Comprar</a>
                </div>
                <img src="img/Productos/auriculares hyperx.jpg" alt="HYPERX CLOUD II">
            </article>
            <article>
                <div class="details">
                    <h4>MEMORIA RAM DDR4 8GB 3200MHZ ADATA XPG SPECTRIX D50G RGB WHITE</h4>
                    <p>$6500</p>
                    <a href="/detalles">Comprar</a>
                </div>
                <img src="img/Productos/ram xpg.jpg" alt="RAM DDR 4 8GB">
            </article>
            <article>
                <div class="details">
                    <h4>FUENTE COOLER MASTER 850W V2 80+ GOLD FULL MODULAR</h4>
                    <p>$28000</p>
                    <a href="/detalles">Comprar</a>
                </div>
                <img src="img/Productos/fuente cooler master.jpg" alt="FUENTE COOLER MASTER 850W">
            </article>
            <article>
                <div class="details">
                    <h4>AURICULAR INALAMBRICO LOGITECH G G733 BLACK RGB</h4>
                    <p>$20550</p>
                    <a href="/detalles">Comprar</a>
                </div>
                <img src="img/Productos/auriculares logitech.jpg" alt="LOGITECH G G733">
            </article>
    </main>
    <footer>
        <figure>
            <a href="/"><img src="img/logo.png" alt="logo"></a>
        </figure>
        <section class="links">
            <article>
                <ul class="site-links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </article>
            <article>
                <ul class="redes">
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </article>
        </section>
    </footer>
    <script src="js/burger.js"></script>
</body>
</html>