<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9a2e49d3ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <figure>
            <img src="img/logo.png" alt="logo" class="logo">
        </figure>
    </header>
    <main>
        <aside>
            <figure>
                <img src="img/logo.png" alt="logo" class="logo">
            </figure>
            <img src="img/gpu.png" alt="gpu" class="gpu">
        </aside>
        <div class="container">
            <div class="links">
                <a href="#" class="login active">Iniciar Sesión</a>
                <a href="register" class="signup">Registrarse</a>
            </div>
            <form action="#">
                <input type="email" name="email" id="email" placeholder="Correo Electronico">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <input type="submit" value="Iniciar Sesión" class="submit">
                <label class="remember">
                    <input type="checkbox" id="checkbox">
                    Recordar contraseña
                </label>
            </form>
            <a href="#" class="forgot">Olvidé mi contraseña</a>
        </div>
    </main>
</body>
</html>