* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header img {
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

nav ul.desktop {
    display: none;
}

nav ul {
    position: relative;
}

nav li, ul.burger {
    list-style: none;
    margin: 5px;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}

nav form input {
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
}

nav form button {
    font-size: 1em;
    background-color: transparent;
    border: none;
    color: black;
    margin-left: 5px;
}

nav form.active {
    visibility: visible;
    opacity: 1;
}

div#burger-menu {
    height: auto;
    max-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    background-color: white;
    transition: max-height .5s;
}

div#burger-menu.active {
    max-height: 500px;
}

div#burger-menu ul.burger {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}

div#burger-menu ul.burger.active {
    visibility: visible;
    opacity: 1;
}

div#burger-menu ul.burger a {
    color: black;
    text-decoration: none;
}

hr {
    margin: 35px auto;
    width: 100%;
}

h3.titulo {
    text-align: center;
    margin: 10px;
}

section.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

section.products article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

section.products article:first-child {
    margin-top: 35px;
}

section.products article:last-child {
    margin-bottom: 35px;
}

section.products div.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

section.products div.price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

section.products div input {
    text-align: center;
    padding: 3px 0;
    margin-left: 3px;
    width: 40px;
}

section.products article img {
    width: 150px;
}

section.products article div.product-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

section.products article div.product-name h4 {
    text-align: center;
}

section.products button {
    background-color: red;
    color: white;
    border: 1px solid white;
    padding: 3px 10px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

section.payment form {
    width: 80%;
    margin: 0 auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

section.payment hr {
    margin: 15px auto;
}

section.payment article {
    width: 100%;
    margin: 0 auto 15px;
    border: 1px solid black;
    padding: 10px;
}

section.payment article p {
    margin-bottom: 10px;
}

section.payment p {
    font-weight: bold;
    font-size: 1.3em;
}

section.payment span {
    display: block;
    margin: 5px auto;
}

section.payment p.total {
    font-weight: bold;
    font-size: 1.3em;
}

section.payment button {
    background-color: rgb(127, 212, 0);
    color: black;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

section.payment select {
    padding: 5px 10px;
    border-radius: 5px;
    width: 70%;
}

footer figure {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

footer img {
    width: 100px;
}    

footer section.links {
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 5px;
}

footer section.links li {
    list-style: none;
    margin: 5px;
    display: inline;
}

footer section.links li a {
    margin: 10px 5px;
    text-decoration: none;
    color: black;
}

/*MEDIA QUERIES*/

@media (min-width: 768px) { /*TABLET*/

    nav ul.desktop {
        display: inline-block;
        position: relative;
    }

    nav ul {
        display: none;
    }

    nav ul.desktop li a {
        color: black;
        transition: .3s;
    }

    nav ul.desktop li a:hover {
        color: black;
    }

    nav ul.desktop li a::after {
        content: "";
        display: block;
        background-color: black;
        height: 3px;
        width: 0;
        left: 0;
        transition: .3s;
    }

    nav ul.desktop li a:hover::after {
        width: 100%;
    }

    nav form {
        visibility: visible;
        opacity: 1;
    }

    div#burger-menu {
        display: none;
    }

    section.products {
        width: 70%;
    }

    section.products article {
        flex-direction: row;
        justify-content: space-between;
    }

    section.products article div.product-name {
        max-width: 90%;
    }
    
    section.products article div.details {
        width: 50%;
    }
    
    section.products article div.price {
        width: 50%;
    }

    section.payment form {
        width: 60%;
    }

    section.payment form select {
        text-align: center;
    }

}

@media (min-width: 1024px) { /*DESKTOP*/

    header img {
        width: 150px;
    }

    footer section.links {
        font-size: 1.5rem;
    }
    
    footer img {
        width: 150px;
    }

    section.products {
        width: 60%;
    }

    section.payment form {
        flex-direction: row;
        align-items: stretch;
        width: 90%;
    }

    section.payment form article {
        width: 27%;
    }

}

@media (min-width: 1360px) {

    nav ul.desktop {
        font-size: 1.2em;
    }

    section.products {
        width: 50%;
    }

    section.payment form {
        font-size: 1.1em;
    }

    section.products article:first-child {
        margin-top: 10px;
    }
    
    section.products article:last-child {
        margin-bottom: 10px;
    }

    hr {
        margin: 10px auto;
    }

    hr.divisor {
        margin: 35px auto;
    }

}